<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>ESL Flashcards</title>
</head>
<body>
  <header class="title">ESL Flashcards</header>
  <main id="esl-flashcards">
    <form class="input-form">
      <input class="input-box" v-model="inputPhrase" type="text" placeholder="phrase">
      <input class="input-box" v-model="inputDef" type="text" placeholder="definition"></br>
      <button class="submit-btn" @click="addNewFC">Add Card</button>
    </form>
    <ul class="flashcard-list">
      <li 
        v-bind:class="{learned: flashcard.isLearned, flashcard}"
        v-for="(flashcard, index) in flashcards">
        <p @click="toggleSide(flashcard)">{{flashcard.isFlipped ? flashcard.phrase : flashcard.definition}}</p>
        <button @click="learnedCard(flashcard, index)">Learned</button>
      </li>
    </ul>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>