<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>ESL Flashcards</title>
</head>
<body>
  <header>Title goes here</header>
  <main id="esl-flashcards">
    <div>
      <form>
        <input v-model="inputPhrase" type="text" placeholder="phrase">
        <input v-model="inputDef" type="text" placeholder="definition">
        <button @click="addNewFC">Add Card</button>
      </form>
    </div>
    <ul class="flashcard-list">
      <li 
        v-for="(flashcard, index) in flashcards"
        v-bind:class="{learned: flashcard.isLearned, flashcard}"
        @click="toggleSide(flashcard)">
        <p>{{flashcard.isFlipped ? flashcard.phrase : flashcard.definition}}</p>
        <button @click="learnedCard(flashcard, index)">Learned</button>
      </li>
    </ul>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>