.flashcard-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.flashcard {
  border: 1px solid black;
}

.unlearned {
  background-color: rgba(119, 183, 255, 0.411)
}

.learned {
  background-color: green;
}